.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}

.menu {
  display: flex;
  list-style: none;
  gap: 15px;
}

.menu > li {
  padding: 0 10px;
  border-right-width: 1.5px;
  border-right-color: black;
  border-right-style: solid;
}

.menu > li:last-child {
  border: none;
}
